body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,table,td,tr{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family: 'Exo 2', sans-serif;}
input,a{outline:none;}

#header,#footer,#nav{margin:0 auto;width:1200px;}
#footer-wrap,#nav-wrap{
    width:100%;
    background: white;
}
//----------------------------------首页头部----------------------------------------
#header-wrap{
    width:100%;
    background: #f5f5f5;
    border:1px solid #e5e5e5;
}
#header{
    width:1185px;
    height:96px;
    overflow: hidden;
    display: block;
    li{
        display: block;
        height: 46px;
        width:171px;
        float: left;
        margin-top: 50px;
        border:1px solid #dddddd;
        color:#000;
        font-size:12px;
        text-align: center;
        line-height: 48px;
      background: #fff;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    li:nth-child(1){
        width:300px;
        height: 0px;
        background: #f5f5f5;
        border:none;
        padding-right: 18px;
        padding-bottom: 20px;
        font-size: 28px;
        font-weight: 600;
        font-family: 'Exo 2', sans-serif;
    }
}

//-------------------------------------------首页footer------------------------------------
#footer-wrap{
    overflow: hidden;
    border-top:2px solid #000000;
}
#footer{
    width:1000px;
    height:181px;
    margin-top: 18px;
    font-family: "bodoni mt black";
    p{
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    :nth-of-type(1){
        padding-top: 50px;
    }
    :nth-of-type(3){
        padding-top: 15px;
        font-size: 12px;
    }
}

//--------------------------------------商品列表页导航栏区---------------------------------------
#nav-wrap{
    height:144px;
    border-bottom: 1px solid #DDDDDD;
}
#nav{
    height:100%;
    h2{
        height:106px;
        font-size: 26px;
        text-align: center;
        line-height: 106px;
        font-weight:900;
    }
    ul{
        color: #353535;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        li{
            
        }
        :nth-child(1){
            margin-left: 50px;
          }
        :nth-child(3){
            color: #999999;
            font-weight: 200;
        }
        :nth-child(14){
            margin-right: 50px;
        }
    }
}



