body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,table,td,tr,form,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family: 'Exo 2', sans-serif;}
input,a{outline:none;}

@font-face {
  font-family: 'iconfont';
  src: url('../icofont/iconfont.eot');
  src: url('../icofont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../icofont/iconfont.woff') format('woff'),
  url('../icofont/iconfont.ttf') format('truetype'),
  url('../icofont/iconfont.svg#iconfont') format('svg');
}

#header,#footer,#nav{margin:0 auto;width:1200px;}
#footer-wrap,#nav-wrap{
    width:100%;
    background: white;
}
//----------------------------------首页头部----------------------------------------
#header-wrap{
    width:100%;
    background: #f5f5f5;
    border:1px solid #e5e5e5;
    #regist_login{
        width:800px;
        height: 60px;
        position: absolute;
        top:0px;
        left:100px;
        a{
            display:block;
            width:30px;
            height:30px;
            background: #E5E5E5;
            font-size: 12px;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            color: #000000;
            float:left;
            position:absolute;
            left:0;
            top:68px;
        }
        :nth-child(2){
            left:30px;
        }
    }
}
#header{
    width:1185px;
    height:96px;
    overflow: hidden;
    display: block;
    position:relative;
    li{
        display: block;
        height: 46px;
        width:171px;
        float: left;
        margin-top: 50px;
        border:1px solid #dddddd;
        color:#000;
        font-size:12px;
        text-align: center;
        line-height: 48px;
      background: #fff;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    li:nth-child(1){
        width:300px;
        height: 0px;
        background: #f5f5f5;
        border:none;
        padding-right: 18px;
        padding-bottom: 20px;
        font-size: 28px;
        font-weight: 600;
        font-family: 'Exo 2', sans-serif;
    }
}

//-------------------------------------------首页footer------------------------------------
#footer-wrap{
    overflow: hidden;
    border-top:2px solid #000000;
}
#footer{
    width:1000px;
    height:181px;
    margin-top: 18px;
    font-family: "bodoni mt black";
    p{
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    :nth-of-type(1){
        padding-top: 50px;
    }
    :nth-of-type(3){
        padding-top: 15px;
        font-size: 12px;
    }
}

//--------------------------------------商品列表页导航栏区---------------------------------------
#nav-wrap{
    height:144px;
    border-bottom: 1px solid #DDDDDD;
}
#nav{
    height:100%;
    h2{
        height:106px;
        font-size: 26px;
        text-align: center;
        line-height: 106px;
        font-weight:900;
    }
    ul{
        color: #353535;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        li{
            
        }
        :nth-child(1){
            margin-left: 50px;
          }
        :nth-child(3){
            color: #999999;
            font-weight: 200;
        }
        :nth-child(14){
            margin-right: 50px;
        }
    }
}

//--------------------------------------注册---------------------------------------
#regist{
    width:500px;
    height:500px;
    background: #F5F5F5;
    border-radius: 10px;
    font-size:24px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    font-family: 'Exo 2', sans-serif;
    color:darkgray;
    position:relative;
    h2{
        width:100%;
        height:50px;
        line-height: 50px;
        text-align: center;
        padding-top: 30px;
    }
    fieldset{
        div{
            margin:20px 50px 20px 50px;
            &:nth-of-type(3){
                input{
                    color:#333333;
                    width:100px;
                    height:50px;
                    background: darkgray;
                    margin-left: 150px;
                }
            }
            
            h3{
                width:200px;
                height:50px;
                font-size:20px;
            }
            input{
                display: block;
                width:400px;
                height:50px;
                margin-right:0;
                border-radius:20px;
                border:1px solid darkgray;
                
            }
        }
    }
    #icon_one{
        width:200px;
        height:50px;
        margin-right:0;
        border-radius:20px;
        border:1px solid darkgray; 
        font-family: 'iconfont';
        opacity: 0; 
        position:relative;
        left:150px;
        bottom:50px;
            span{
                display: block;
                font-size: 100px;
                color:pink;
                position:absolute;
                left:50px;
                bottom:-20px;
            }
        }
}

//--------------------------------------登录---------------------------------------
#login{
    width:500px;
    height:500px;
    background: #F5F5F5;
    border-radius: 10px;
    font-size:24px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    font-family: 'Exo 2', sans-serif;
    color:darkgray;
    h2{
        width:100%;
        height:50px;
        line-height: 50px;
        text-align: center;
        padding-top:30px;
    }
    fieldset{
        div{
            margin:20px 50px 20px 50px;
            &:nth-of-type(3){
                input{
                    color:#333333;
                    width:100px;
                    height:50px;
                    background: darkgray;
                    margin-left: 150px;
                }
            }
            
            h3{
                width:200px;
                height:50px;
                font-size:20px;
            }
            input{
                display: block;
                width:400px;
                height:50px;
                margin-right:0;
                border-radius:20px;
                border:1px solid darkgray;
                
            }
            
        }
        
    }
}


