//----------------------------------首页内容区---------------------------------
#center-wrap,#product-wrap，#detail-wrap{
    width:100%;
    background: white;
}

#center-wrap{height:19150px;}
#center-clothing,#center-cosmetics,#center-bast,#center-four{
    margin:0 auto;
}
//center-clothing
#center-clothing{
        width:1200px;
        height:2245px;
        background: white;
        display: block;
        border-collapse: collapse;
        border-spacing: 0;
        caption{
            width:1200;
            height: 59px;
            font-weight: 500;
            padding-top:50px;
            font-size:24px;
            font-family: 'Exo 2', sans-serif;
        }
        tr{
            width:1200px;
            height:534px;
        
            td{
                width:300px;
                height:534px;
                vertical-align:top;
                border-collapse: collapse;
               img{
                    display:inline-block;
                    width: 290px;
                    height: 380px;
                }
                p{
                    padding-top:10px;
                    width:240px;
                    font-size: 12px;
                    overflow: hidden;
                    span{
                        display: block;
                        font-weight: 600;
                        padding-top: 3px;
                        font-size: 24px;
                    }
                }
            }
        }}
       
 // #center-cosmetics      
#center-cosmetics{
    width:1200px;
    height:973px;
    background: white;
    display: block;
    border-collapse: separate;
    border-spacing: 0;
    caption{
        height: 49px;
        font-weight: 500;
        padding-top:40px;
        font-size:24px;
        font-family: 'Exo 2', sans-serif;
        }
    tr{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        td{
          height:352px;
          width:272px;
          vertical-align:top;
          margin:20px 10px 50px 10px;
          border: 1px solid #e5e5e5;
          img{
              display: block;
              width:240px;
              height: 240px;
              padding:15px 20px 20px 20px;
          }
          p{
            width:240px;
            font-size: 12px;
            overflow: hidden;
            margin-left: 20px;
            span{
            display: block;
            font-weight: 600;
            padding-top: 3px;
            font-size: 20px;
            }  
          }  
        }
    }
}

//#center-bast
#center-bast{
        width:1200px;
        height:13449px;
        background: pink;
        display: block;
        border-collapse: separate;
        border-spacing: 2px;
        caption{
            width:1200;
            height: 59px;
            font-weight: 500;
            padding-top:50px;
            font-size:24px;
            font-family: 'Exo 2', sans-serif;
        }
        tr{
            width:1200px;
            height:534px;
            border: 1px solid #000000;
        }
        td{
            width:300px;
            height:534px;
            vertical-align:top;
            border: 1px solid #e5e5e5;
            border-collapse: collapse;
            border-spacing: 0;
           img{
                display:inline-block;
                width: 290px;
                height: 380px;
            }
            p{
                padding-top:10px;
                width:240px;
                font-size: 12px;
                overflow: hidden;
                span{
                    display: block;
                    font-weight: 600;
                    padding-top: 3px;
                    font-size: 24px;
                }
            }
        }
        
}
//#center-four 
#center-four{
    width:1200px;
    height:2299px;
    background: palegreen;
    display: block;
    border-collapse: separate;
    border-spacing: 2px;
    
    caption{
        height: 49px;
        font-weight: 500;
        padding-top:40px;
        font-size:24px;
        font-family: 'Exo 2', sans-serif;
        }
    tr{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        td{
          height:352px;
          width:272px;
          vertical-align:top;
          margin:20px 10px 50px 10px;
          border: 1px solid #ccc;
          img{
              display: block;
              width:240px;
              height: 240px;
              padding:20px;
          }
          p{
            width:240px;
            font-size: 12px;
            overflow: hidden;
            margin-left: 20px;
            span{
            display: block;
            font-weight: 600;
            padding-top: 3px;
            font-size: 20px;
            }  
          }  
        }
    }
}

//----------------------------------商品列表页---------------------------------
#product-wrap{
    height: 8800px;
    table{
        width:1200px;
        margin:0 auto;
    }
}
#product-one{
    height:1177px;
    caption{
            width:1200;
            height: 59px;
            font-weight: 500;
            padding-top:50px;
            font-size:24px;
            font-family: 'Exo 2', sans-serif;
        }
        tr{
            width:1200px;
            height:534px;
            border: 1px solid #000000;
        }
        td{
            width:300px;
            height:534px;
            vertical-align:top;
           img{
                display:inline-block;
                width: 290px;
                height: 380px;
            }
            p{
                padding-top:10px;
                width:240px;
                font-size: 12px;
                overflow: hidden;
                span{
                    display: block;
                    font-weight: 600;
                    padding-top: 3px;
                    font-size: 24px;
                }
            }
        }
}

#product-two{
    height:3000px;
    background: plum;
    caption{
        height: 49px;
        font-weight: 500;
        padding-top:40px;
        font-size:24px;
        font-family: 'Exo 2', sans-serif;
        }
    tr{
        td{
            width:290px;
            height:517px;
            margin:0 5px 0 5px ;
        }
    }
}

#product-there{
    height:1873px;
    caption{
        height: 49px;
        font-weight: 500;
        padding-top:40px;
        font-size:24px;
        font-family: 'Exo 2', sans-serif;
        }
    tr{
        td{
            width:240px;
            height:394px;
            border:1px solid #000;
            padding:0 20px 70px 20px;
            img{
                display: block;
                width:240px;
                height: 330px;
            }
            p{
                width:240px;
                font-size: 12px;
                overflow: hidden;
                margin-left: 20px;
                span{
                    display: block;
                    font-weight: 600;
                    padding-top: 3px;
                    font-size: 20px;
                }  
            } 
        }
    }
}
//----------------------------------商品详情页---------------------------------
#detail-wrap{
    height:4000px;
}



