//----------------------------------首页内容区---------------------------------
#center-wrap,#product-wrap，#detail-wrap{
    width:100%;
    background: white;
    font-family: 'Exo 2', sans-serif;
}

#center-wrap{height:2300px;}
#center-clothing,#center-cosmetics,#center-bast,#center-four,#detail-one,#detail-image,#detail-table,#cart-content{
    margin:0 auto;
}
//center-clothing
#center-clothing{
        width:1200px;
        height:1245px;
        background: white;
        display: block;
        border-collapse: collapse;
        border-spacing: 0;
        caption{
            width:1200;
            height: 59px;
            font-weight: 500;
            padding-top:50px;
            font-size:24px;
            font-family: 'Exo 2', sans-serif;
        }
        tr{
            width:1200px;
            height:534px;
        
            td{
                width:300px;
                height:534px;
                vertical-align:top;
                border-collapse: collapse;
                border:1px solid #000;
               img{
                    display:inline-block;
                    width: 290px;
                    height: 380px;
                }
                p{
                    padding-top:10px;
                    width:240px;
                    font-size: 12px;
                    overflow: hidden;
                    span{
                        display: block;
                        font-weight: 600;
                        padding-top: 3px;
                        font-size: 24px;
                    }
                }
            }
        }}
       
 // #center-cosmetics      
#center-cosmetics{
    width:1200px;
    height:973px;
    background: white;
    display: block;
    border-collapse: separate;
    border-spacing: 0;
    caption{
        height: 49px;
        font-weight: 500;
        padding-top:40px;
        font-size:24px;
        
        font-family: 'Exo 2', sans-serif;
        }
    tr{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        td{
          height:352px;
          width:272px;
          vertical-align:top;
          margin:20px 10px 50px 10px;
          border: 1px solid #e5e5e5;
          img{
              display: block;
              width:240px;
              height: 240px;
              padding:15px 20px 20px 20px;
          }
          p{
            width:240px;
            font-size: 12px;
            overflow: hidden;
            margin-left: 20px;
            span{
            display: block;
            font-weight: 600;
            padding-top: 3px;
            font-size: 20px;
            }  
          }  
        }
    }
}

//----------------------------------商品列表页---------------------------------
#product-wrap{
    height: 3200px;
    table{
        width:1200px;
        margin:0 auto;
    }
}
#product-one{
    height:1177px;
    caption{
            width:1200;
            height: 59px;
            font-weight: 500;
            padding-top:50px;
            font-size:24px;
            font-family: 'Exo 2', sans-serif;
        }
        tr{
            border: 1px solid #000000;
        }
        td{
            width:300px;
            height:534px;
            vertical-align:top;
           img{
                display:inline-block;
                width: 290px;
                height: 380px;
            }
            p{
                padding-top:10px;
                width:240px;
                font-size: 12px;
                overflow: hidden;
                span{
                    display: block;
                    font-weight: 600;
                    padding-top: 3px;
                    font-size: 24px;
                }
            }
        }
}


#product-there{
    height:1873px;
    caption{
        height: 49px;
        font-weight: 500;
        padding-top:40px;
        font-size:24px;
        font-family: 'Exo 2', sans-serif;
        }
    tr{
        td{
            width:240px;
            height:394px;
            padding:0 20px 70px 20px;
            img{
                display: block;
                width:240px;
                height: 330px;
            }
            p{
                width:240px;
                font-size: 12px;
                overflow: hidden;
                margin-left: 20px;
                span{
                    display: block;
                    font-weight: 600;
                    padding-top: 3px;
                    font-size: 20px;
                }  
            } 
        }
    }
}
//----------------------------------商品详情页---------------------------------
#detail-wrap{
    height:3800px;
}
#detail-one{
    width:1185px;
    height:1500px;
    background: white;
    padding-top: 16px;
    .detail-nav-one{
        width:985px;
        height:16px;
        padding: 40px 0px 20px 200px;
        a{
            color: #999999;
            font-weight: 400;
            font-size: 13px;
            background: white;
        }
        
    }
    #detail-select{
        width:985px;
        height:483px;
        padding:0 0 70px 200px;
        .left{
            width:352px;
            margin-right:50px;
            float:left;
            img{
                display: block;
                width:352px;
                height:482.66px;
            }
        }
        .right{
            width:450px;
            float:left;
            height:483px;
            overflow: hidden;
            p{
                height: 44px;
                font-size:24px;
                font-weight:400;
                color:#666666;
                padding:5px 0 10px 0;
                
            }
            span{
                display: block;
                height: 36px;
                font-size: 30px;
                font-weight: 600;
                color:#000000;
                padding:5px 0 10px 0;
                margin-top:20px;
                }
        }
        .color{
                width:450px;
                height:35px;
                margin-top: 30px;
                label{
                        font-size: 20px;
                        width:120px;
                        display:block;
                        float:left;
                }
                select{
                    float:left;
                    height:31px;
                    width:250px;
                    border-color: rgb(169, 169, 169);
                    option{
                        font-size:15px;
                    }
                }
            }
        .size{
                width:450px;
                height:35px;
                label{
                        font-size: 20px;
                        width:120px;
                        display:block;
                        float:left;
                }
                select{
                    float:left;
                    height:31px;
                    width:250px;
                    border-color: rgb(169, 169, 169);
                    option{
                        font-size:15px;
                    }
                }
            }
            input{
                width:100px;
                height:50px;
                border-radius: 20px;
                margin:50px auto auto 20px;
                border: 1px solid #969896;
            }
    }
    .detail-nav-two{
        height:45px;
        width:985px;
        padding: 0px 0px 70px 200px;
        li{
            list-style: none;
            border:1px solid #DDD;
            height:45px;
            width:20%;
            float:left;
            line-height: 45px;
            text-align: center;
            font-weight: 500;
        }
        :nth-child(1){
            border: 2px solid #000000;
            border-bottom: none;
            color: #333333;
            font-size: 12px
        }
        :nth-child(2),:nth-child(3),:nth-child(4){
            border-bottom: 2px solid #000000;
            font-size: 14px
        }
    }
    .detail-centent{
        width:800px;
        height:700px;
        margin-left: 192.5px;
        font-size: 14px;
        padding-bottom: 50px;
        p{
           height: 18px;
           line-height: 18px;
           text-align: center;
           margin-bottom: 27px; 
        }
        :nth-child(1){
            font-weight: 900;
        }
    }
}
#detail-image{
    width:800px;
    height: 800px;
    background: papayawhip;
    img{
        display: block;
        width:800px;
        height:400px;
    }
}
#detail-table{
    width:1185px;
    height:1506px;
    #detail-table-p1{
        width:1160px;
        height:135px;
        padding:50px 0 0 25px;
        font-weight: 200;
        color: #000000;
        font-size: 30px;
    }
    #tabel-one{
        width:1185px;
        height:352px;
        color: #000000;
        font-size: 12px;
        tr{
            td{
                border: 1px solid #cacaca;
            }
            :nth-child(odd){
                width:19%;
                text-align: center;
            }
            :nth-child(even){
                width:29%;
                padding-left:10px;
            }
            
        }
        :nth-child(1){
                span{
                color: #990000;
                font-size: 14px;
                font-weight: 600; 
                }
            }
        :nth-child(3){
            img{
                display: block;
                width:90px;
                height:40px;
            }
        }
        :nth-child(4),:nth-child(5){
            img{
                display: block;
                width:200px;
                height:30px;
            }
        }
    }
    #detail-table-p2{
        width:1160px;
        height:135px;
        padding:50px 0 0 25px;
        font-weight: 200;
        color: #000000;
        font-size: 30px;
    }
    #tabel-two{
        width:1185px;
        height:413px;
        background: palegreen;
        #tabel-two-left{
            width:288px;
            height:355px;
            padding:29px 42.5px 29px 42.5px;
            img{
                display: block;
                width:288px;
                height:355px;
            }
        }
        #tabel-two-tabel{
                float:left;
                display: block;
        }
    }
}
//----------------------------------购物车---------------------------------

#cart-wrap{
    width:100%;
    height:1500px;
    background:#f5f5f5;
    overflow: hidden;
    #cart-content{
        width:1185px;
        height: 1450px;
        background: white;
        padding-top:50px;
        #cart-left{
            width:150px;
            height:150px;
            margin-left:150px;
            margin-bottom:10px;
            float: left;
            img{
                width:150px;
                height:150px;
                border:1px solid #E5E5E5;
            }
        }
        #cart-right{
            background: pink;
            width:600px;
            height:150px;
            float:left;
            padding-left:50px;
            padding-right:100px;
            background:#f5f5f5;
            margin-bottom:10px;
            overflow: hidden;
            p{
                height: 34px;
                font-size:24px;
                line-height: 34px;
                font-weight:400;
                color:#666666;
            }
            span{
                display: block;
                height: 36px;
                font-size: 30px;
                font-weight: 600;
                color:#000000;
                padding:5px 0 10px 0;
                margin-top:5px;
            }
            input{
                width:60px;
                text-align: center;
                height: 30px;
                font-size: 30px;
                border-radius: 20px;
                background: #DDDDDD;
                border:2px solid #000;
            }   
        }
    }
}



